{% extends "main.html"%}
{%block title%}DWS{%endblock%}
{%block content%}
{% if user.is_authenticated %}
    <p>личный кабинет</p>
    <a href="{% url 'log_out'%}">Logout</a>
{% else %}
    <a href="{% url 'log_in'%}">Login</a>
    <a href="{% url 'registration'%}">Registration</a>
{% endif %}
    <p>корзина</p>
<!--ДОДЕЛАТЬ-->
{% for engine in dws %}
<h5>Название двигателя: {{ engine.goods_name }} </h5>
<p>Артикул: {{ engine.goods_id }}</p>
<p>Производитель: {{ engine.manufacturer}}</p>
<p>Применяемость: {{ engine.transport_model }}</p>
<p>Категория: {{ engine.category }}</p>
<p>Цена: {{ engine.price }}</p>
<p>Фото: <img src="{{ engine.image.url }}"></p>
{% endfor %}
{%endblock%}