{% extends "main.html"%}
{%block title%}Личный кабинет{%endblock%}
{%block content%}
<p>Забыли пароль?</p>
{% if profile_exist == "0" %}
<p><a href="{% url 'add_profile_data' %}">Добавить данные в профиль </a></p>
{% else %}
<p><a href="{% url 'edit_profile' %}">изменить данные</a></p>
{% endif %}
<p><a href="{% url 'delete_user' %}">удалить профиль</a></p>
{% if profile_exist == "1" %}
<p>ваши данные</p>
<p>название организации {{company_name}}</p>
<p>УНП {{company_tax_id}}</p>
<p>юридический адрес {{legal_adress}}</p>
<p>почтовый адрес {{post_adress}}</p>
<p>эл адрес {{company_email}}</p>
<p>телефон для связи {{phone_number}}</p>
<p>адрес доставки {{delivery_adress}}</p>
<p>должность для договора {{position}}</p>
<p>ФИО для договора {{position_name}}</p>
<p>банковские реквизиты {{bank_details}}</p>
{% endif %}

<table>
    <thead>
    <tr>
        <th>№</th>
        <th>Просмотр деталей заказа</th>
        <th>Дата заказа</th>
    </tr>
    </thead>
    <tbody>
    {% for order in order_history %}
    <tr>
        <td> сделают на фронт-энде</td>
        <th><a href="{% url 'detail_past_order' order_id=order.id%}" >Просмотр деталей заказа</a></th>
        <td> {{ order.created_at }}</td>
    </tr>
    {% endfor %}
    </tbody>

    {%endblock%}