{% extends "main.html"%}
{%block title%}Home{%endblock%}
{%block content%}
<p>
    <a href="{% url 'home_page' %}">Всё</a>
    {% for category in categories %}
    <a href="{% url 'show_product_category' category_slug=category.slug%}">{{ category.name }}</a>
    {% endfor %}
</p>
{% for product in products %}
<h5><a href="{% url 'detail_product' product_id=product.id product_slug=product.slug category_slug=product.cat.slug %}">Название двигателя: {{ product.product_name }} </a>></h5>
<p>Артикул: {{ product.product_art }}</p>
<p>Цена: {{ product.price }}</p>
<p>Фото: <img src="{{ product.image.url }}"></p>
<form action="{% url 'cart_add' product_id=product.id %}" method='POST'>
{{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Добавить в корзину">
</form>
{% endfor %}
{%endblock%}