{% extends "main.html"%}
{%block title%}DWS{%endblock%}
{%block content%}
{% if user.is_authenticated %}
    личный кабинет
    <a href="{% url 'log_out'%}">Logout</a>
{% else %}
    <a href="{% url 'log_in'%}">Login</a>
    <a href="{% url 'registration'%}">Registration</a>
{% endif %}
    корзина
    <br>
    <a href="{% url 'about_us'%}">О нас</a>
    <a href="{% url 'payment'%}">Оплата</a>
    <a href="{% url 'delivery'%}">Доставка</a>
<!--ДОДЕЛАТЬ-->
<p>
    <a href="{% url 'home_page' %}">Всё</a>
    {% for category in categories %}
    <a href="{% url 'show_goods_category' category_slug=category.slug%}">{{ category.name }}</a>
    {% endfor %}
</p>
{% for dws in dwses %}
<h5><a href="{% url 'detail_good' dws_id=dws.id dws_slug=dws.slug category_slug=dws.cat.slug %}">Название двигателя: {{ dws.goods_name }} </a>></h5>
<p>Артикул: {{ dws.goods_id }}</p>
<p>Цена: {{ dws.price }}</p>
<p>Фото: <img src="{{ dws.image.url }}"></p>
{% endfor %}
{%endblock%}