{% extends "main.html"%}
{%block title%}DWS{%endblock%}
{%block content%}
{% if user.is_authenticated %}
    <p>личный кабинет</p>
    <a href="{% url 'log_out'%}">Logout</a>
{% else %}
    <a href="{% url 'log_in'%}">Login</a>
    <a href="{% url 'registration'%}">Registration</a>
{% endif %}
    <p>корзина</p>
<!--ДОДЕЛАТЬ-->
<p>
    <a href="{% url 'home_page' %}">Всё</a>
    {% for category in categories %}
    <a href="{% url 'show_goods_category' category_slug=category.slug %}">{{ category.name }}</a>
    {% endfor %}
</p>
{% for dws in dwses %}
<h5>Название двигателя: {{ dws.goods_name }} </h5>
<p>Артикул: {{ dws.goods_id }}</p>
<p>Производитель: {{ dws.manufacturer}}</p>
<p>Применяемость: {{ dws.transport_model }}</p>
<p>Категория: {{ dws.category }}</p>
<p>Цена: {{ dws.price }}</p>
<p>Фото: <img src="{{ dws.image.url }}"></p>
{% endfor %}
{%endblock%}